@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500&display=swap');

ul, ol {
  margin: 0 0 2.5rem 3.0rem;
}

pre,
code,
kbd,
samp {
  font-family: 'Roboto Mono', monospace;
}

.meta {
  color: #868e96; /* 6 */
}